
 /* Add spacing between sections */
.section {
      margin-bottom: 30px;
  }

  /* Make images round */
.card-img.round {
      width: 300px;
      height: 300px;
      border-radius: 50%;
  }

